@page "/Requests"
@using LisaKonveyer.Models
@inject NavigationManager Navigator
@inject LisaKonveyer.Data.ApplicationDbContext DbContext
@using Microsoft.EntityFrameworkCore

<nav>
        <h1>Lisa Kredit konveyeri</h1>
        <select name="" id="" @onchange="SendUser">
            <option value="/">-------------------</option>
            <option value="/ApplicationsPage">Arizani yuborish</option>
            <option value="/Requests">Arizalar tarixi</option>
        </select>
        <a href="">@(CurrentUser?.Email ?? "Kirilmagan hisob")</a>
</nav>

<div class="main">
        <h1>Arizalar</h1>
        <div class="ariza-container">
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Contract ID</td>
                        <td>Sana</td>
                        <td>FIO</td>
                        <td>JSHSHIR</td>
                        <td>Ariza miqdori</td>
                        <td>Kredit maxsuloti</td>
                        <td>Foidalanuvchi</td>
                        <td>Filial</td>
                        <td>Xolati</td>
                    </tr>
                </thead>
                <tbody>
                @foreach(var req in Reqs){
                    <tr>
                        <th>@req.Id</th>
                        <th><a href="/KonveyerPage/@req.Id">@(req?.ContractId ?? "")</a></th>
                        <th>@req.StartDate</th>
                        <th>@(req?.Client?.FullName ?? "")</th>
                        <th>@(req?.Client?.PassportPinfl ?? "")</th>
                        <th>@(req?.Amount?.ToString("N0") ?? "")</th>
                        <th>@req.Application.Name</th>
                        <th>@req.User.Email</th>
                        <th>@req.Filial.Name</th>
                        <th>berilgan</th>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>


@code{
    private ApplicationUser CurrentUser;
    List<LoanRequest> Reqs = new List<LoanRequest>();

    protected override async Task OnInitializedAsync(){
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = state.User;

        if (user.Identity.IsAuthenticated){
            CurrentUser = await UserManager.GetUserAsync(user);
            Reqs = await DbContext.LoanRequests.Where(i=>i.FilialId==CurrentUser.FilialId)
                .Include(r => r.Application)
                .Include(r => r.User)
                .Include(r => r.Filial)
                .Include(r => r.Client)
                .ToListAsync();
        }
    }

    private void SendUser(ChangeEventArgs e){
        if (e.Value != null){
            Navigator.NavigateTo(e.Value.ToString());
        }
    }
}